<h1>B-World</h1>
<p><%= t ".greeting", deep_interpolation: true, user_name: @user.user_name %>, </p>
<p><%= t ".instruction", deep_interpolation: true, expire_time: Settings.value.reset_expired_time %></p>
<%= link_to t(".reset"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
