<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger text-red-500">
      <%= t ".the_form_contains" %>
      <%= pluralize object.errors.count, t(".error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="text-red-500"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
