<div class="mb-[50px] text-sm flex justify-between items-center">
  <%= render "shared/breadcrumb", path: t(".my_account") %>
  <p><%= t ".welcome" %>! <span class="text-primary"><%= @user.user_name %></span></p>
</div>
