<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %>
<h1 class="text-3xl font-bold underline bg-primary">
  <%= t :hello%>
</h1>
<p class="font-bold text-xl text-primary">123</p>
<i class="fa-regular fa-user text-2xl text-primary"></i>
