$light-white: #fafaf9;
$disable: #858585;
$black: #000000;
$light-gray: #cbd5e1;
$light-black: #333232;
$light-purple: #937dc2;
$hover: #d2c9e7;
$yellow: #facc15;
$light-red: #fb7185;
$red: rgb(153, 27, 27);
